<div class="row">
  <div class="large-12 columns">
    <div class="small-6 large-6 columns">
      <h2>Customers</h2>
      Filter: <input type="text" ng-model="customerFilter.name" />
    </div>
    <div class="small-6 large-6 columns"></div>
  </div><!-- end .large-12 -->
  <div class="large-12 columns">
    <div class="small-3 large-3 columns" ng-click="doSort('name')">
      <span class="strong">Name</span>
    </div>
    <div class="small-2 large-2 columns" ng-click="doSort('city')">
      <span class="strong">City</span>
    </div>
    <div class="small-2 large-2 columns" ng-click="doSort('orderTotal')">
      <span class="strong">Order Total</span>
    </div>
    <div class="small-3 large-3 columns" ng-click="doSort('joined')">
      <span class="strong">Joined</span>
    </div>
    <div class="small-2 large-2 columns" ng-click="doSort('joined')">
      <span class="strong">&nbsp;</span>
    </div>
  </div><!-- end .large-12 -->
</div><!-- end .row -->
<div class="row">
  <div class="large-12 columns" style="border: 1px solid black;" data-ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
    <div class="small-3 large-3 columns">{{ cust.name }}</div>
    <div class="small-2 large-2 columns">{{ cust.city }}</div>
    <div class="small-2 large-2 columns">{{ cust.orderTotal | currency }}</div>
    <div class="small-3 large-3 columns">{{ cust.joined | date }}</div>
    <div class="small-2 large-2 columns"><a href="#/orders/{{ cust.id }}">View Orders</a></div>
  </div><!-- end .large-12 -->
  <div class="large-12 columns">
    <span>Total customers: {{ customers.length }} </span>
  </div><!-- end .large-12 -->
</div><!-- end .row -->